.row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .column1 {
    display: flex; 
    flex-direction: column;
    flex-basis: 100%;
    flex: 10;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }